<html>
	<head>
		<title>Tone Sensei</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% load static %}
    	<link rel = "stylesheet" href="{% static 'tones/style.css' %}" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class = tone-sensei> 
					<h1>Tone<br> Sensei</h1>
					<h2>声调老師</h2>
				</div>
				<div class="score-board">
					<h3>Score</h3>
					<h4>25</h4>
				</div>
			</div>
			<div class="mandarin-word">
				<h3>mā</h3>
			</div>
		</div>
	</body>
</html>