<html>
	<head>
		<title>Tone Sensei</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% load static %}
    	<link rel = "stylesheet" href="{% static 'tones/style.css' %}" type="text/css">
    	<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class = tone-sensei> 
					<div>
						<img src="../../../static/img/tone-sensei.png" style="float: right; 
						margin-right: 60px;">
					</div>
					<h1>Tone<br> Sensei</h1>
					<h2>声调老師</h2>
				</div>
				<div class="score-board">
					<h3>Score</h3>
					<h4 id="score-container">0</h4>
				</div>
			</div>
			<div class="mandarin-word">
				<h3>mā</h3>
			</div>
				<!-- <input type="text" name="value" id="fillIn">
				<input type="button" value="ok" id="button"> -->
				<div style="text-align: center;">
   					<input type="button" value="Submit" id="submitButton">
				</div>
		</div>
		<script src="../../../static/tones/js/scoreKeeper.js"type="text/javascript"></script>
	</body>
</html>